
.container {
  height: 100vh;
  width: 100%;
  background-size: cover;
}

/* joker */

/*.joker {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}*/

.joker {
  height: 500px;
  z-index:0;
}

@media only screen and (max-width: 800px) {
  .joker {
    display: none;
  }
}

/* tournament */

.tournament {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 20px 0 20px;
}

.tournament__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1049px) {
  .tournament {
    margin-right: 200px;
    padding-top: 120px;
  }
}

@media only screen and (max-width: 1049px) {
  .tournament {
    align-items: center;
  }
}


/* logo */

.logo {
  margin-bottom: 20px;
}

/* buttons */

.button {
  margin-bottom: 20px;
}

